
@{
	ViewData["Title"] = "MCC查询、支付牌照查询、商户地区代码查询、收单机构查询";
	ViewData["MetaDescription"] = "MCC码查询、支付牌照查询、商户地区代码查询、收单机构查询";
	ViewData["MetaKeywords"] = "MCC码查询,支付牌照查询,Pos机商户地区代码查询,Pos机收单机构查询";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
	<style>
		form {
			margin: 24px 0;
			text-align: left;
		}

		.so_box {
			margin: 10px auto;
			height: 40px;
			line-height: 40px;
			background-color: white;
			width: 92%;
			border: 1px #CACACA solid;
			margin-top: 12px;
			position: relative
		}

			.so_box .txts {
				margin: 0px auto;
				height: 31px;
				outline: none;
				line-height: 31px;
				width: 88%;
				padding-left: 10px;
				border: 0px;
				color: #333333;
				background-color: #FFFFFF;
				overflow: hidden;
			}

			.so_box .buts {
				margin: 0 auto;
				height: 40px;
				line-height: 40px;
				width: 100%;
				padding-left: 10px;
				border: 0px;
				color: #333333;
				background: #0180CF;
				border-radius: 25px;
			}

			.so_box .more {
				position: absolute;
				position: absolute;
				top: 8px;
				right: 10px;
			}

				.so_box .more img {
					height: 24px;
				}

		table {
			border-left: 1px solid #a2c6d3;
			border-top: 3px solid #0180CF;
			margin: 0 auto;
			font-size: 12px;
			width: 92%;
		}

			table td {
				border-right: 1px solid #a2c6d3;
				border-bottom: 1px solid #a2c6d3;
				padding: 5px;
				word-wrap: break-word;
				word-break: break-all;
			}

		.tt {
			background: #e5f2fa;
			line-height: 18px;
			FONT-SIZE: 12px;
			max-width: 596px;
		}

		.select select {
			width: 100%;
			padding: 5px;
			border: 1px #CACACA solid;
			height: 40px;
			-webkit-appearance: none;
		}

		.select option {
			height: 40px;
		}

		.select {
			margin: 0 auto;
			width: 92%;
			height: 40px;
			overflow: hidden;
		}

		.so_but {
			margin: 15px auto;
			width: 92%;
			text-align: center;
			margin-top: 12px;
			border: 0px;
		}

		.so_bus {
			margin: 15px auto;
			width: 92%;
			text-align: left;
			margin-top: 12px;
			border: 0px;
		}

		.so_bus span {
			font-weight: 600;
			color: #0180CF
		}

		.so_but .buts {
			line-height: 200%;
			padding: 5px 25px;
			background: #0180CF;
			border-radius: 25px;
			color: white;
			border: 0px;
		}
	</style>
}

<section class="col-lg-12 col-md-12">
	<h3 class="h3-cat-list">
		<span>
			Mcc码、支付牌照、商户地区码、收单机构代码查询
		</span>
	</h3>
	<hr />
	<ul class="breadcrumb">
		<li><a href="/">主页</a></li>
		<li><a href="/mcc">mcc查询</a></li>
	</ul>
	<form name="queryForm" method="post" action="/mcc/result">
		@{ var errmsg = TempData["Error"];}
		@if (errmsg != null)
		{
			<div class="alert alert-danger" role="alert">@errmsg</div>
		}
		<div class="so_box" id="11">
			<input name="mcc" type="text" class="txts" id="mcc" value="@TempData["id"]" placeholder="请输入MCC码、支付牌照、商户地区码、收单机构码">
		</div>
		<div class="so_but">
			<input type="submit" class="buts" id="sub" value="立即查询">
		</div>
		<div class="so_bus" id="tishi">
			小票上的《商户编号》解读：<br />
			例如单号：900331054620031，
			前3位：<span>900</span>为支付机构代码；
			4-7位：<span>3310</span>为地区码；
			8-11位：<span>5462</span>为mcc码；<br />
			查询直接输入简称即可查询，如“畅捷”，“金控”，“银盛通”，“中付”等。<br />
			本站mcc查询仅做参考，实际数据以官方信息为准。
		</div>
	</form>
	@Html.Partial("_Product")
</section>