
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Temp</title>
</head>
<body>
	<form enctype="multipart/form-data" action="/Mcc/TempSave" method="post">
		<input type="file" name="filedata" />
		<button type="submit">tijiao</button>
	</form>
</body>
</html>
