@model Blogs.Model.DbModels.Links
@{
	ViewBag.Title = "Edit";
}

<h2>编辑友情链接</h2>
<form action="/Admin/Links/Edit" method="post" enctype="multipart/form-data">

	@Html.Partial("_LinkForm")
	@Html.HiddenFor(m => m.ID)
	<div class="section">
		<span style="color: Red;">@ViewBag.Error</span>
		<button type="submit" class="button-save">提交</button>
	</div>
</form>
