<div class="container">
	<h2 style="text-align:center;">智能POS机 <small>0.38秒到</small></h2>

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-4">
			<div class="thumbnail">
				<img data-original="/images/7210.jpg?v=1" style="width: 100%" alt="华智融7210多平台">
				<div class="caption">
					<h3>华智融7210仅188元8平台+10固定商户</h3>
					<p class="hidden-xs">畅捷、点佰趣、付临门、乐刷、海科、瑞银信、星驿付、中付</p>
					<p>支付宝、微信、花呗0.38</p>
					<p class="hidden-xs">多平台+10固定7210只需188元，无押金</p>
					<p class="hidden-xs">终生免费升级，哪个平台好用哪个，养卡终极神器</p>
					<p>
						<a href="#" onclick="trackOutboundLink('咨询', '7210')" class="btn btn-primary" role="button" data-toggle="modal" data-target="#wechatmodal">加微信领取</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4">
			<div class="thumbnail">
				<img data-original="/images/yst.jpg?v=1" style="width: 100%" alt="华智融7210多平台">
				<div class="caption">
					<h3>银盛通费率0.58，双闪0.38，wifi+扫码头</h3>
					<p>押金118元刷满返298元</p>
					<p class="hidden-xs">按时间自选行业，本地真实商户工商网可查。</p>
					<p class="hidden-xs">微信、支付宝、支持花呗0.38%秒到</p>
					<p>
						<a href="#" onclick="trackOutboundLink('咨询', '银盛通')" class="btn btn-primary" role="button" data-toggle="modal" data-target="#wechatmodal">加微信领取</a>
					</p>
				</div>
			</div>
		</div>
		<div class="clearfix visible-xs-block visible-sm-block"></div>

		<div class="col-xs-6 col-sm-6 col-md-4">
			<div class="thumbnail">
				<img data-original="/images/changjie.jpg?v=1" style="width: 100%" alt="畅捷H9、M70">
				<div class="caption">
					<h3>畅捷通大POS费率0.58%,单笔100万<small>wifi</small></h3>
					<p>闪付、微信、支付宝0.38%</p>
					<p class="hidden-xs">商户自选笔笔有积分</p>
					<p class="hidden-xs">上市6年，从不跳码。全牌照，安全稳定。</p>
					<p>
						<a href="#" onclick="trackOutboundLink('咨询', '畅捷通')" class="btn btn-primary" role="button" data-toggle="modal" data-target="#wechatmodal">加微信领取</a>
					</p>
				</div>
			</div>
		</div>

		<div class="clearfix visible-lg-block visible-md-block"></div>

		<div class="col-xs-6 col-sm-6 col-md-4">
			<div class="thumbnail">
				<img data-original="/images/xiandai.jpg?v=1" style="width: 100%" alt="金大宝">
				<div class="caption">
					<h3>金大宝/自动匹配完美商户</h3>
					<p>99元满返200元，0.6%秒到/双免0.38%</p>
					<p class="hidden-xs">国企护航，银联认证</p>
					<p class="hidden-xs">实时定位本市商户</p>
					<p>
						<a href="#" onclick="trackOutboundLink('咨询', '金大宝')" class="btn btn-primary" role="button" data-toggle="modal" data-target="#wechatmodal">加微信领取</a>
					</p>
				</div>
			</div>
		</div>
		<div class="clearfix visible-xs-block visible-sm-block"></div>

		<div class="col-xs-6 col-sm-6 col-md-4">
			<div class="thumbnail">
				<img data-original="/images/MPos.jpg?v=1" style="width: 100%" alt="mpos">
				<div class="caption">
					<h3>金付通mPOS<small>免押金</small></h3>
					<p>
						0.38秒到，国企背景，多年不跳码！
					</p>
					<p class="hidden-xs">
						唯一自选商户精确MCC的手刷
					</p>
					<p class="hidden-xs">
						闪付、微信、支付宝0.38秒到
					</p>
					<p>
						<a href="#" onclick="trackOutboundLink('咨询', '金付通')" class="btn btn-primary" role="button" data-toggle="modal" data-target="#wechatmodal">免费领取</a>
					</p>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-4">
			<div class="thumbnail">
				<img data-original="/images/lkl.jpg?v=1" style="width: 100%" alt="拉卡拉大pos机">
				<div class="caption">
					<h3>《拉卡拉》大POS机，100元返300元+200元</h3>
					<p>自选行业，真实商户最多的支付公司。</p>
					<p class="hidden-xs">自测不跳码。</p>
					<p>
						<a href="#" onclick="trackOutboundLink('咨询', '拉卡拉')" class="btn btn-primary" role="button" data-toggle="modal" data-target="#wechatmodal">加微信领取</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>