@model Blogs.Web.Areas.Admin.Models.BlogViewModel

@{
	ViewBag.Title = "编辑博客文章";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section head{
	<script src="~/js/jquery.validate.min.js"></script>
	<script type="text/javascript">
		$.extend($.validator.defaults, {
			showErrors: function (errorMap, errorList) {
				var msg = "";
				$.each(errorList, function (i, v) {
					msg += (v.message + "\r\n");
				});
				if (msg != "")
					alert(msg);
			}
		});
	</script>
	<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/lib/xheditor/xheditor-1.1.14-zh-cn.min.js"></script>

	<script type="text/javascript">
		$(function () {
			$("#Blog_BlogContent").xheditor({ upImgUrl: "/Admin/Blog/UploadPicture", upImgExt: "jpg,jpeg,gif,png", html5Upload: false });

			$("#main-menu").accordion("option", "active", 1);
		})
	</script>
}

<h2>编辑博客</h2>

<form action="/admin/blog/edit" method="post" enctype="multipart/form-data">

	@Html.Partial("_Form")

	@Html.HiddenFor(m => m.Blog.BlogID)
	@Html.HiddenFor(m => m.Blog.AuthorID)

	<div class="section">
		<button type="submit" class="button-save">提交</button>
	</div>

</form>
