@model List<Blogs.Model.DbModels.Blog>
@{
	ViewData["Title"] = "很好记POS机官网-华智融7210多平台-POS机申请-免费POS机领取";
	ViewData["MetaDescription"] = "很好记POS机官网，华智融7210多平台，正规POS机全国办理中心，提供0.38费率秒到一清机，支持微信、支付宝、云闪付，提供现代金控金正宝、畅捷、点佰趣、付临门、乐刷、海科、瑞银信、星驿付、中付9平台多平台pos机、传统pos机、手机POS机申请、安装等服务。";
	ViewData["MetaKeywords"] = "华智融7210多平台|银联POS机|手机POS机|星驿付POS机|POS机申请|瑞银信POS机|金正宝POS机|POS机申请|POS机招商|POS机代理|免费传统大POS机|7210|畅捷通POS机|海科pos机|点佰趣POS机";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="jumbotron">
	<h1>很好记POS</h1>
	<p>...</p>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>*@

<h2 style="text-align:center;">智能POS机 <small>0.38秒到</small></h2>

<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="~/images/7210.jpg" alt="华智融7210多平台">
			<div class="caption">
				<h3>9平台华智融7210</h3>
				<p>金控-金正宝、畅捷、点佰趣、付临门、乐刷、海科、瑞银信、星驿付、中付</p>
				<p>
					<a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#wechatmodal">立即领取</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="~/images/MPos.jpg" alt="mpos">
			<div class="caption">
				<h3>金付通mPOS<small>免押金</small></h3>
				<ol>
					<li>
						0.38秒到，国企背景，多年不跳码！
					</li>
					<li>
						唯一自选商户精确MCC的手刷
					</li>
					<li>
						闪付、微信、支付宝0.38秒到
					</li>
				</ol>

				<p>
					<a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#wechatmodal">立即领取</a> 
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="~/images/xiandai.jpg" alt="">
			<div class="caption">
				<h3>金正宝闪付0.38、0.6秒到不加</h3>
				<p>常年不跳码</p>
				<p>押金满返</p>
				<p>
					<a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#wechatmodal">立即领取</a>
				</p>
			</div>
		</div>
	</div>
</div>

<h2 style="text-align:center;"> 加盟与代理 <small>代理一台起，分润日结</small></h2>

