@section head{
	<script src="~/js/jquery.validate.min.js"></script>
	<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
}

<h2>编辑Mcc</h2>

<form enctype="multipart/form-data" action="/Admin/Pos/Mcc_Edit" method="post">
	@Html.Partial("_Form")

	<div class="section">
		<button type="submit" class="button-save">提交</button>
	</div>
</form>