@{
	ViewBag.Title = "网站空间_虚拟主机_域名注册";
	Layout = "~/Views/Shared/_SiteLayout.cshtml";
	ViewBag.MetaKeywords = "企业网站,网站建设案例,厦门网站建设,厦门网站制作,巨易,网站建设,厦门网站优化,厦门网站托管";
	ViewBag.MetaDescription = "厦门巨易网络科技是一家致力于软件开发,网站建设,网站优化,网站托管,空间域名等服务的公司. 0592-6150545";
}
<section class="slice color-two-l">
	<div class="w-section inverse">
    	<div class="container">
			<div class="row">
				<div class="col-md-12">
                    <div class="sort-list-btn">
                        <a class="btn btn-two filter" href="/company/service.html" title="厦门品牌网站建设" data-filter="category_1">品牌网站建设</a>
                        <a href="http://muban.henhaoji.com.cn" target="_blank" title="成品网站建设" class="btn btn-two filter" data-filter="category_2">成品网站建设</a>
                        @*<a href="/company/hostting.html" class="btn btn-two filter active" title="域名空间租用" data-filter="category_3">域名空间租用</a>*@
                        <a href="http://bm.henhaoji.com.cn" target="_blank" class="btn btn-two filter" title="网站托管" data-filter="category_4">网站保姆</a>
						<a href="/company/DingZhi.html" class="btn btn-two filter" title="定制建站" data-filter="category_5">定制建站</a>
						<a href="/" class="btn btn-two filter" data-filter="category_6" title="手机网站建设"><i class="fa fa-th-large"></i>手机网站建设</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<div class="section-title color-three">
		<h3>主机</h3>
		<div class="indicator-down color-three"></div>
	</div>
</section>
<section class="slice color-two-d">
	<div class="w-section pricing-plans inverse">
    	<div class="container">
			<div class="row">
				<div class="pricing-table">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-comparision table-responsive">
                            <thead>
                                <tr>
                                    <th class="col-md-2">名称</th>
									<th class="col-md-1">ASP.NET入门型</th>
									<th class="col-md-1">双线普及型</th>
									<th class="col-md-1">双线企业型</th>
									<th class="col-md-1">双线商务型</th>
									<th class="col-md-1">双线门户型</th>
									<th class="col-md-1">港台入门型(免备案)</th>
									<th class="col-md-1">港台普及型(免备案)</th>
									<th class="col-md-1">港台企业型(免备案)</th>
									<th class="col-md-1">香港云主机企业1型(免备案)</th>
									<th class="col-md-1">香港云主机企业2型(免备案)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>价格(元/年)</td>
                                    <td><i class="fa fa-yen"></i>200元</td>
									<td><i class="fa fa-yen"></i>238元</td>
									<td><i class="fa fa-yen"></i>318元</td>
									<td><i class="fa fa-yen"></i>498元</td>
									<td><i class="fa fa-yen"></i>548元</td>
									<td><i class="fa fa-yen"></i>228元</td>
									<td><i class="fa fa-yen"></i>318元</td>
									<td><i class="fa fa-yen"></i>458元</td>
									<td><i class="fa fa-yen"></i>388元</td>
									<td><i class="fa fa-yen"></i>598元</td>
                                </tr>
                                <tr>
                                    <td>空间</td>
                                    <td>200M</td>
									<td>200M</td>
									<td>500M</td>
									<td>1G</td>
									<td>1.5G</td>
									<td>200M</td>
									<td>500M</td>
									<td>600M</td>
									<td>200M</td>
									<td>500M</td>
                                </tr>
                                <tr>
                                    <td>可开子站点数(Linux不支持)</td>
                                    <td><i class="fa fa-times"></i></td>
                                    <td><i class="fa fa-times"></i></td>
									<td><i class="fa fa-times"></i></td>
                                    <td>2个</td>
									<td>3个</td>
                                    <td><i class="fa fa-times"></i></td>
                                    <td><i class="fa fa-times"></i></td>
									<td><i class="fa fa-times"></i></td>
									<td><i class="fa fa-times"></i></td>
									<td><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td>赠送邮箱容量:</td>
                                    <td>500M</td>
									<td>500M</td>
                                    <td>500M</td>
                                    <td>500M</td>
									<td>500M</td>
									<td>500M</td>
									<td>500M</td>
									<td>500M</td>
									<td><i class="fa fa-times"></i></td>
									<td><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td>流量：Gbyte/月</td>
                                    <td>20</td>
									<td>15</td>
                                    <td>25</td>
                                    <td>40</td>
									<td>45</td>
									<td>10</td>
									<td>15</td>
									<td>20</td>
									<td>5</td>
									<td>8</td>
                                </tr>
                                <tr>
                                    <td>独立IP</td>
                                    <td>+180元</td>
                                    <td>+180元</td>
                                    <td>+180元</td>
									<td>+180元</td>
									<td>+180元</td>
									<td>+180元</td>
									<td>+180元</td>
									<td>+180元</td>
									<td>+180元</td>
									<td>+180元</td>
                                </tr>
                                <tr>
                                    <td>ASP+access:</td>
                                    <td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
                                </tr>
                                <tr>
                                    <td>PHP</td>
                                    <td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
                                </tr>
								<tr>
                                    <td>ASP.net</td>
                                    <td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
                                </tr>
								<tr>
                                    <td>数据定期备份</td>
                                    <td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
                                </tr>
								<tr>
                                    <td>数据自助恢复</td>
                                    <td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
                                </tr>
								<tr>
                                    <td>千M防火墙系统</td>
                                    <td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
									<td><i class="fa fa-check"></i></td>
                                </tr>
								@*
                                <tr>
                                    <td></td>
                                    <td><a class="btn btn-two" href="#"><i class="fa fa-shopping-cart"></i> </a></td>
                                    <td><a class="btn btn-three" href="#"><i class="fa fa-shopping-cart"></i> </a></td>
                                    <td><a class="btn btn-two" href="#"><i class="fa fa-shopping-cart"></i> </a></td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
			</div>
		</div>
	</div>
	</div>
	<div class="section-title color-three">
		<h3>域名</h3>
		<div class="indicator-down color-three"></div>
	</div>
</section>
<section class="slice color-two-l">
	<div class="w-section pricing-plans inverse">
    	<div class="container">
			<div class="row">
				<div class="col-md-12">
                        <table class="table table-bordered table-striped table-comparision table-responsive">
                            <thead>
                                <tr>
                                    <th class="col-md-2">名称</th>
									<th class="col-md-2">国际英文域名(.com)</th>
									<th class="col-md-2">.cn英文域名</th>
									<th class="col-md-2">(中文).com/.net/.cn</th>
									<th class="col-md-2">中文.中国</th>
									<th class="col-md-2">中文.cc</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>价格(元/年)</td>
                                    <td><i class="fa fa-yen"></i>80元</td>
									<td><i class="fa fa-yen"></i>100元</td>
									<td><i class="fa fa-yen"></i>120元</td>
									<td><i class="fa fa-yen"></i>280元</td>
									<td><i class="fa fa-yen"></i>490元</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
			</div>
		</div>
	</div>
</section>
