@{
	ViewBag.Title = "服务项目 ";
	Layout = "~/Views/Shared/_SiteLayout.cshtml";
	ViewBag.MetaKeywords = "厦门网站建设报价,网站建设案例,厦门网站建设,厦门网站制作,巨易,厦门网站优化,厦门网站托管";
	ViewBag.MetaDescription = "厦门巨易网络科技是一家致力于软件开发,网站建设,网站优化,网站托管,空间域名等服务的公司. 0592-6150545";
}
<section class="slice color-two-l">
	<div class="w-section inverse">
    	<div class="container">
			<div class="row">
				<div class="col-md-12">
                    <div class="sort-list-btn">
                        <a class="btn btn-two filter active" title="" href="/company/service.html" title="厦门品牌网站建设" data-filter="category_1">品牌网站建设</a>
                        <a href="http://muban.henhaoji.com.cn" target="_blank" title="成品网站建设" class="btn btn-two filter" data-filter="category_2">成品网站建设</a>
                        @*<a href="/company/hostting.html" class="btn btn-two filter" title="域名空间租用" data-filter="category_3">域名空间租用</a>*@
                        <a href="http://bm.henhaoji.com.cn" target="_blank" class="btn btn-two filter" title="网站托管" data-filter="category_4">网站保姆</a>
						<a href="/company/DingZhi.html" class="btn btn-two filter" title="定制建站" data-filter="category_5">定制建站</a>
						<a href="#" class="btn btn-two filter" title="手机网站建设" data-filter="category_6"><i class="fa fa-th-large"></i>手机网站建设</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<div class="section-title color-three">
		<h3>热门套餐</h3>
		<div class="indicator-down color-three"></div>
	</div>
</section>
<section class="slice color-two-d">
	<div class="w-section pricing-plans inverse">
    	<div class="container">
			<div class="row">
				<div class="col-md-4">
                    <div class="w-box">
                        <h2 class="plan-title">企业标准型<small>周期：25个工作日</small></h2>
                        <h3 class="price-tag color-one"><span>￥</span>3800<span>起</span></h3>
                        <ul>
                            <li><i class="fa fa-keyboard-o"></i>设计规格:首页设计/banner设计(多图切换)/4个栏目内页面</li>
                            <li><i class="fa fa-align-justify"></i>产品展示/新闻中心(二选一)</li>
                            <li><i class="fa fa-comment-o"></i>客户留言</li>
                            <li><i class="fa fa-search"></i>新闻/产品检索</li>
							<li><i class="fa fa-linux"></i>在线QQ（MSN）<span class="label label-info pull-right">赠送</span></li>
							<li><i class="fa"></i>...</li>
                        </ul>          
                        <p class="plan-info">适用于企业网络入门应用阶段。涵盖了企业网站的基本应用模块<span style="color: Red;">(是迫切需要在网络上展现公司形象的新企业的首选)</span></p>
                        <p class="plan-select text-center"><button type="submit" class="btn btn-two btn-large"><i class="fa fa-check-circle"></i> 查看详情</button></p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="w-box popular">
                        <h2 class="plan-title">企业发展型<small>周期：30个工作日</small></h2>
                        <h3 class="price-tag color-two-l"><span>￥</span>5500<span>起</span></h3>
                        <ul>
                            <li><i class="fa fa-keyboard-o"></i>设计规格:首页设计/banner设计(多图切换)/6个栏目内页面</li>
                            <li><i class="fa fa-align-justify"></i>产品展示</li>
							<li><i class="fa fa-align-justify"></i>新闻中心</li>
							<li><i class="fa fa-group"></i>人才招聘</li>
                            <li><i class="fa fa-comment-o"></i>客户留言</li>
							<li><i class="fa fa-yen"></i>订单(提交型)</li>
                            <li><i class="fa fa-search"></i>新闻/产品检索</li>
							<li><i class="fa fa-linux"></i>在线QQ（MSN）<span class="label label-info pull-right">赠送</span></li>
							<li><i class="fa"></i>...</li>
                        </ul>          
                        <p class="plan-info">适用于企业网络业务发展阶段<span style="color: Red;">（公司发展迅速，需要在网络上进一步拓展业务和提升企业形象）</span></p>
                        <p class="plan-select text-center"><button type="submit" class="btn btn-three btn-large"><i class="fa fa-check-circle"></i> 查看详情</button></p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="w-box">
                        <h2 class="plan-title">企业高级型<small>周期：35个工作日</small></h2>
                        <h3 class="price-tag color-one"><span>￥</span>7500<span>起</span></h3>
                        <ul>
                            <li><i class="fa fa-keyboard-o"></i>设计规格:首页设计/banner设计(内页Banner条动画+图片切换)/8个栏目内页面/网站引导页动画</li>
                            <li><i class="fa fa-align-justify"></i>产品展示</li>
							<li><i class="fa fa-align-justify"></i>新闻中心</li>
							<li><i class="fa fa-group"></i>人才招聘</li>
                            <li><i class="fa fa-comment-o"></i>客户留言</li>
							<li><i class="fa fa-globe"></i>销售网络</li>
							<li><i class="fa fa-yen"></i>订单提交</li>
							<li><i class="fa fa-download"></i>下载中心</li>
                            <li><i class="fa fa-search"></i>新闻/产品检索</li>
							<li><i class="fa fa-linux"></i>在线QQ（MSN）<span class="label label-info pull-right">赠送</span></li>
							<li><i class="fa"></i>...</li>
                        </ul>          
                        <p class="plan-info">适用于企业整合网络应用阶段<span style="color: Red;">（公司规模扩大，发展稳定，建立企业的战略品牌形象）</span></p>
                        <p class="plan-select text-center"><button type="submit" class="btn btn-two btn-large"><i class="fa fa-check-circle"></i> 查看详情</button></p>
                    </div>
                </div>
			</div>
		</div>
	</div>
	@*<div class="section-title color-three">
		<h3>品牌套餐</h3>
		<div class="indicator-down color-three"></div>
	</div>*@
</section>
@*<section class="slice color-two-l">
	<div class="w-section pricing-plans inverse">
    	<div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="w-box">
                        <h2 class="plan-title">企业产品展示型<small>周期：15个工作日</small></h2>
                        <h3 class="price-tag color-one"><span>￥</span>3000<span>起</span></h3>
                        <ul>
                            <li><i class="fa fa-cloud-download"></i> 10 users</li>
                            <li><i class="fa fa-book"></i> Unlimited access</li>
                            <li><i class="fa fa-coffee"></i> 3TB of space <span class="label label-info pull-right">new</span></li>
                            <li><i class="fa fa-envelope"></i> E-mail support</li>
                        </ul>          
                        <p class="plan-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
                        <p class="plan-select text-center"><button type="submit" class="btn btn-three btn-large"><i class="fa fa-check-circle"></i> Select plan</button></p>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="w-box popular">
                        <h2 class="plan-title">企业品牌型<small>周期：25个工作日</small></h2>
                        <h3 class="price-tag color-two-l"><span>￥</span>4500<span>起</span></h3>
                        <ul>
                            <li><i class="fa fa-cloud-download"></i> 10 users</li>
                            <li><i class="fa fa-book"></i> Unlimited access</li>
                            <li><i class="fa fa-coffee"></i> 3TB of space <span class="label label-info pull-right">new</span></li>
                            <li><i class="fa fa-envelope"></i> E-mail support</li>
                        </ul>          
                        <p class="plan-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
                        <p class="plan-select text-center"><button type="submit" class="btn btn-two btn-large"><i class="fa fa-check-circle"></i> Select plan</button></p>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="w-box">
                        <h2 class="plan-title">贸易企业商务型<small>周期：30个工作日</small></h2>
                        <h3 class="price-tag color-one"><span>￥</span>5000<span>起</span></h3>
                        <ul>
                            <li><i class="fa fa-cloud-download"></i> 10 users</li>
                            <li><i class="fa fa-book"></i> Unlimited access</li>
                            <li><i class="fa fa-coffee"></i> 3TB of space <span class="label label-info pull-right">new</span></li>
                            <li><i class="fa fa-envelope"></i> E-mail support</li>
                        </ul>          
                        <p class="plan-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
                        <p class="plan-select text-center"><button type="submit" class="btn btn-three btn-large"><i class="fa fa-check-circle"></i> Select plan</button></p>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="w-box">
                        <h2 class="plan-title">网上商城<small>周期：35个工作日</small></h2>
                        <h3 class="price-tag color-one"><span>￥</span>5500<span>起</span></h3>
                        <ul>
                            <li><i class="fa fa-cloud-download"></i> 10 users</li>
                            <li><i class="fa fa-book"></i> Unlimited access</li>
                            <li><i class="fa fa-coffee"></i> 3TB of space <span class="label label-info pull-right">new</span></li>
                            <li><i class="fa fa-envelope"></i> E-mail support</li>
                        </ul>          
                        <p class="plan-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
                        <p class="plan-select text-center"><button type="submit" class="btn btn-three btn-large"><i class="fa fa-check-circle"></i> Select plan</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
@*<h1>服务/<span>Service</span></h1>
<div id="main-content-blog">
	<h2>主要服务</h2>
	<p>
		
	</p>
	<div class="h_line"></div>
	<div class="block_service">
		<div class="icon">
			<img src="../../App_Themes/Site/images/icon_services_1.png" />
		</div>
		<div class="text">
			<h2>模板网站建设</h2>
			<p>
				我们拥有成熟的网站建设、制作、设计经验及专业的网站建设人才。主推低价网站建设，平价建站，模板建站。高性价比人工建站，快速并注重实用.
				网站建设是网站策划师、网络程序员、网页设计师等岗位，应用各种网络程序开发技术和网页设计技术，为企事业单位、公司或个人在全球互联网（Internet）上建设站点
				。网站是企业展示自身形象、发布产品信息、联系网上客户的新平台、新天地，进而可以通过电子商务开拓新的市场，以极少的投入获得极大的收益和利润。
			</p>
			<a href="#" class="f_r">更多</a>
		</div>
		<div style="clear: both;"></div>
	</div>
	<div class="h_line"></div>
	<div class="block_service">
		<div class="icon">
			<img src="../../App_Themes/Site/images/icon_services_1.png" />
		</div>
		<div class="text">
			<h2>品牌网站开发</h2>
			<p>
				经典的网络新形象，彰显企业文化和实力，树立企业形象，提升品牌知名度，拓展营销渠道，提高营销效率，吸引潜在消费群，快速适应经济全球化形势。易龙天从品牌形象、企业特征、所属行业等方面，全面展示品牌文化、理念及内涵；运用强大的信息技术支持，优化用户体验性和商用体验性，建立以品牌塑造、企业宣传、产业展示、品牌新闻等于一体的品牌网站解决方案，增值企业无形资产。<br />
1. 品牌宣传型网站解决方案<br />
2. 品牌营销型网站解决方案<br />
3. 品牌互动型网站解决方案<br />
			</p>
			<a href="#" class="f_r">更多</a>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>
<div id="sidebar" class="sub-menu">
	<ul id="sub-menu">
		<li class="current"><a href="#">我们的服务</a></li>
		<li><a href="#">服务报价</a></li>
	</ul>

	<h2>建站知识</h2>
	<div class="sidebar-box">
		<ul class="bottom-list">
		@foreach (var item in Studio.Helpers.ListHelper.GetBlogList().Where(m => m.CategoryID == 3).Take(6))
  {
		<li><a href="/blog/post/@(item.Slug).html" title="@item.BlogTitle">@item.BlogTitle</a></li>
  }
  <li><a href="/blog/categories/建站知识.html" title="更多网站建设知识">更多建站知识</a></li>
		</ul>
	</div>
	<div class="sidebar-box-footer"></div>
</div>*@